<br/>
<br/>
<div style="text-align: center">
 <h4>Welcome to the Northstrat Overhead Expense Reporting System, {{ loggedInUser.firstName }}! </h4> <br/>
</div>

 <br/>
 <br/>

 <div style="text-align: center; color: rgb(43, 74, 148); font-weight: bold">
    | <span *ngFor="let type of types" (click)="selectedType = type">
      {{ type }} |
    </span>
  </div>
  <br/>

 <h5 class="expense" *ngIf="expenses">Expense Reports (Click to Show Details)</h5>
 <table class="table table-striped" *ngIf="!selected && expenses">
    <tr>
      <th>Report ID</th>
      <th>Date Submitted</th>
      <th>Description</th>
      <th>Status</th>
    </tr>
    <tr *ngFor="let expense of expenses | ReportStatus:selectedType">
      <td (click)="displayExpense(expense)">{{ expense.id }}</td>
      <td (click)="displayExpense(expense)">{{ expense.createdAt | date: 'short' }}</td>
      <td (click)="displayExpense(expense)">{{ expense.description }}</td>
      <td (click)="displayExpense(expense)" [ngClass]="checkStatus(expense.status)" style="color: white;">{{ expense.status }}</td>
    </tr>
  </table>

   <table class="table table-striped" *ngIf="selected">
      <tr>
        <th>Report ID</th>
        <th>Date Submitted</th>
        <th>Description</th>
        <th>Status</th>
        <th>Attendees</th>
        <th>Amount</th>
        <th>GL Account</th>
        <th *ngIf="selected.createdAt != selected.updatedAt">Date Updated</th>
        <th>Comments</th>
        <th><button type="button" class="btn btn-success btn-sm" value="Return to List" (click)="displayExpenseTable()" *ngIf="selected">Return to List</button></th>
      </tr>
        <tr>
            <td>{{ selected.id }}</td>
            <td>{{ selected.createdAt | date: 'short' }}</td>
            <td>{{ selected.description }}</td>
            <td>{{ selected.status }}</td>
            <td>{{ selected.attendees }}</td>
            <td>{{ selected.amount | currency}}</td>
            <td>{{ selected.glAccount }}</td>
            <td *ngIf="selected.createdAt !== selected.updatedAt">{{ selected.updatedAt  | date: 'short' }}</td>
            <td><button type="button" class="btn btn-warning btn-sm" value="Delete" (click)="setViewExpenseComments()">View Comments</button></td>
            <td><button type="button" class="btn btn-warning btn-sm" value="Return to List" [disabled]="selected.status === 'Under Review' || selected.status === 'Approved'" (click)="setEditExpense()" *ngIf="selected">Edit Report</button> </td>
            <td><button type="button" class="btn btn-danger btn-sm" value="Delete" [disabled]="selected.status === 'Under Review' || selected.status === 'Approved'" (click)="deleteExpenseReport(selected.id)">Delete Report</button></td> </tr>
        </table>

        <div class="d-flex justify-content-center align-items-center container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <div class="card" style="width: 25rem;" *ngIf="viewExpenseComments">
                      <div class="card-body">
                        <h5 class="card-title">Administrative Comment</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{ viewExpenseComments.updatedAt | date: 'shortDate' }}</h6>
                        <p class="card-text">{{ viewExpenseComments.adminComments }}</p>
                        <p class="card-text" *ngIf="viewExpenseComments.adminComments === null || viewExpenseComments.adminComments === ''">No comments from the Administrator at this time.</p>
                      </div>
                      <div class="card-body">
                          <h5 class="card-title">Your Comment</h5>
                          <h6 class="card-subtitle mb-2 text-muted">{{ viewExpenseComments.updatedAt | date: 'short' }}</h6>
                          <p class="card-text" *ngIf="viewExpenseComments.userComments === null || viewExpenseComments.userComments === '' || viewExpenseComments.userComments === ' '">
                              You have not created a comment for this report.</p>
                          <p class="card-text">{{ viewExpenseComments.userComments }}</p>
                      </div>
                      <div class="text-center">
                      <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="viewExpenseComments = null">Hide Comments</button> <br/> <br/>
                      </div>
                    </div>
                </div>
              </div>
            </div>

            <br/>

        <div class="d-flex justify-content-center align-items-center container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <form #f="ngForm" role="form" *ngIf="updateExpense">
                    <label class="" for="description">Description:</label>
                      <input type="text" required minlength="3" class="form-control mb-2 mr-sm-2" id="description" name="description" ngModel #description="ngModel" [(ngModel)]="updateExpense.description" placeholder="Description:">
                      <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Description must contain minimum 3 characters.</div>

                    <label class="" for="attendees">Attendees:</label>
                        <input type="text" required minlength="3" class="form-control mb-2 mr-sm-2" id="attendees" name="attendees" ngModel #attendees="ngModel" [(ngModel)]="updateExpense.attendees" placeholder="Attendees:">
                        <div class="alert alert-danger" *ngIf="attendees.touched && !attendees.valid">Attendees must contain minimum 3 characters.</div>

                    <label class="" for="amount">Amount:</label>
                      <input type="text" required pattern="^[0-9]*\.[0-9][0-9]$" class="form-control mb-2 mr-sm-2" id="amount" name="amount" ngModel #amount="ngModel" [(ngModel)]="updateExpense.amount" placeholder="Amount:">
                      <div class="alert alert-danger" *ngIf="amount.touched && !amount.valid">Amount must be formatted as a decimal number (e.g. 456.78)</div>

                      <label class="" for="glAccount">GL Account:</label>
                        <input type="text" required minlength="3" class="form-control mb-2 mr-sm-2" id="glAccount" name="glAccount" ngModel #glAccount="ngModel" [(ngModel)]="updateExpense.glAccount" placeholder="GL Account:">
                        <div class="alert alert-danger" *ngIf="glAccount.touched && !glAccount.valid">GL Account must contain minimum 3 characters.</div>

                        <label class="" for="userComments">Comments (Optional):</label>
                          <textarea rows="4" cols="50" class="form-control mb-2 mr-sm-2" id="userComments" name="userComments"
                          #userComments="ngModel" [(ngModel)]="updateExpense.userComments" placeholder="Comments (Optional):"></textarea>

                        <div class="text-center">
                      <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="updateExpense = null">Cancel</button> &nbsp;
                      <button type="submit" class="btn btn-success btn-sm" value="Update" (click)="updateExpenseReport(updateExpense, updateExpense.id)">Update</button>
                    </div>
                </form>
                <br/>
                </div>
                </div>
                </div>

        <br/>
        <div style="text-align: center; color: rgb(43, 74, 148); font-weight: bold">
            | <span *ngFor="let type of types" (click)="selectedTravelType = type">
              {{ type }} |
            </span>
          </div>
          <br/>
        <h5 class="travel">Travel Reports (Click to Show Details)</h5>
        <table class="table table-striped" *ngIf="!clicked">
            <tr>
              <th>Report ID</th>
              <th>Date Submitted</th>
              <th>Trip Location</th>
              <th>Status</th>
            </tr>
            <tr *ngFor="let travel of travelReports | ReportStatus:selectedTravelType">
              <td (click)="displayTravelReport(travel)">{{ travel.id }}</td>
              <td (click)="displayTravelReport(travel)">{{ travel.createdAt | date: 'short' }}</td>
              <td (click)="displayTravelReport(travel)">{{ travel.tripLocation }}</td>
              <td (click)="displayTravelReport(travel)" [ngClass]="checkStatus(travel.status)" style="color: white;">{{ travel.status }}</td>
            </tr>
          </table>

          <table class="table table-striped" *ngIf="clicked">
              <tr>
                <th>Report ID</th>
                <th>Date Submitted</th>
                <th>Trip Location</th>
                <th>Status</th>
                <th>Travel Dates</th>
                <th>Project Charge Code</th>
                <th>Total Cost</th>
                <th *ngIf="clicked.createdAt !== clicked.updatedAt">Date Updated</th>
                <th *ngIf="clicked.userComments != null || clicked.userComments !== '' || clicked.adminComments != null || clicked.adminComments === ''">Comments</th>
                <th><button type="button" class="btn btn-success btn-sm" value="Return to List" (click)="displayTravelTable()" *ngIf="clicked">Return to List</button></th>
              </tr>
                <tr>
                    <td>{{ clicked.id }}</td>
                    <td>{{ clicked.createdAt | date: 'short' }}</td>
                    <td>{{ clicked.tripLocation }}</td>
                    <td>{{ clicked.status }}</td>
                    <td>{{ clicked.travelDates }}</td>
                    <td>{{ clicked.projectChargeCode }}</td>
                    <td>{{ clicked.totalCost | currency }}</td>
                    <td *ngIf="clicked.createdAt !== clicked.updatedAt">{{ clicked.updatedAt | date: 'short' }}</td>
                    <td><button type="button" class="btn btn-warning btn-sm" *ngIf="clicked.userComments != null || clicked.userComments !== ''"
                      value="Delete" (click)="setViewTravelComments()">View Comments</button></td>
                    <td><button type="button" class="btn btn-warning btn-sm" value="Return to List" [disabled]="clicked.status === 'Under Review' || clicked.status === 'Approved'" (click)="setEditTravel()" *ngIf="clicked">Edit Report</button> </td>
                    <td><button type="button" class="btn btn-danger btn-sm" value="Delete" [disabled]="clicked.status === 'Under Review' || clicked.status === 'Approved'" (click)="deleteTravelReport(clicked.id)">Delete Report</button></td>
                  </tr>
                </table>

                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <div class="card" style="width: 25rem;" *ngIf="viewTravelComments">
                              <div class="card-body">
                                <h5 class="card-title">Administrative Comment</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ viewTravelComments.updatedAt | date: 'shortDate' }}</h6>
                                <p class="card-text">{{ viewTravelComments.adminComments }}</p>
                                <p class="card-text" *ngIf="viewTravelComments.adminComments === null || viewTravelComments.adminComments === ''">No comments from the Administrator at this time.</p>
                              </div>
                              <div class="card-body">
                                  <h5 class="card-title">Your Comment</h5>
                                  <h6 class="card-subtitle mb-2 text-muted">{{ viewTravelComments.updatedAt | date: 'short' }}</h6>
                                  <p class="card-text" *ngIf="viewTravelComments.userComments === null || viewTravelComments.userComments === '' || viewTravelComments.userComments === ' '">
                                    You have not created a comment for this report.</p>
                                  <p class="card-text">{{ viewTravelComments.userComments }}</p>
                              </div>
                              <div class="text-center">
                              <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="viewTravelComments = null">Hide Comments</button> <br/> <br/>
                              </div>
                            </div>
                        </div>
                      </div>
                    </div>
                    <br/>

                <!-- <h4 class="update" *ngIf="updateTravel">&nbsp;&nbsp;&nbsp;&nbsp;</h4> -->
        <div class="d-flex justify-content-center align-items-center container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <form #travelForm="ngForm" role="form" *ngIf="updateTravel">
                    <label class="" for="tripLocation">Trip Location:</label>
                      <input type="text" required minlength="3" class="form-control mb-2 mr-sm-2" ngModel #tripLocation="ngModel" id="tripLocation" name="tripLocation" [(ngModel)]="updateTravel.tripLocation" placeholder="Trip Location:">
                      <div class="alert alert-danger" *ngIf="tripLocation.touched && !tripLocation.valid">Trip Location must contain minimum 3 characters.</div>

                    <label class="" for="travelDates">Travel Dates:</label>
                        <input type="text" required minlength="3" class="form-control mb-2 mr-sm-2" ngModel #travelDates="ngModel" id="travelDates" name="travelDates" [(ngModel)]="updateTravel.travelDates" placeholder="Travel Dates:">
                        <div class="alert alert-danger" *ngIf="travelDates.touched && !travelDates.valid">Travel Dates must contain minimum 3 characters.</div>

                        <label class="" for="projectChargeCode">Project Charge Code:</label>
                      <input type="text" required minlength="2" class="form-control mb-2 mr-sm-2" ngModel #projectChargeCode="ngModel" id="projectChargeCode" name="projectChargeCode" [(ngModel)]="updateTravel.projectChargeCode"
                      placeholder="Project Charge Code:">
                      <div class="alert alert-danger" *ngIf="projectChargeCode.touched && !projectChargeCode.valid">Project Charge Code must contain minimum 3 characters.</div>

                      <label class="" for="totalCost">Total Cost:</label>
                        <input type="number" required pattern="^[0-9]*\.[0-9][0-9]$" class="form-control mb-2 mr-sm-2" ngModel #totalCost="ngModel" id="totalCost" name="totalCost" [(ngModel)]="updateTravel.totalCost" placeholder="Total Cost:">
                        <div class="alert alert-danger" *ngIf="totalCost.touched && !totalCost.valid">Total Cost must be formatted as a decimal number (e.g. 456.78)</div>

                        <label class="" for="userComments">Comments (Optional):</label>
                          <textarea rows="4" cols="50" class="form-control mb-2 mr-sm-2" id="userComments" name="userComments"
                          #userComments="ngModel" [(ngModel)]="updateTravel.userComments" placeholder="Comments (Optional):"></textarea>

                        <div class="text-center">
                      <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="updateTravel = null">Cancel</button> &nbsp;
                      <button type="submit" class="btn btn-success btn-sm" value="Update" [disabled]="!travelForm.valid" (click)="updateTravelReport(updateTravel, updateTravel.id)">Update</button>
                    </div>
                </form>
                </div>
                </div>
                </div>
                <br/>
                <br/>

                <section class="footer">
                    <img class="Northstrat" width="100%" height="600rem" src="http://www.northstrat.net/northstrat/wp-content/uploads/2018/09/earth-1149733-e1536335141161.jpg">
                  </section>

                <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Overhead Expense Reports</h5>
          <p>Please fill out all overhead expense reports with accurate, detailed information to ensure a timely and efficient approval process. Reports are processed on a first-come, first-serve basis. </p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Overhead Travel Reports</h5>
          <p>Please fill out all overhead travel reports with accurate, detailed information to ensure a timely and efficient approval process. Reports are processed on a first-come, first-serve basis.</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://www.northstrat.net/northstrat/" target="_blank"> Northstrat.net</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->

