
<p>
 Welcome {{ loggedInUser.firstName }} <br/>

 Last Name: {{ loggedInUser.lastName }} <br/>
 {{ loggedInUser.email }} <br/>
 {{ loggedInUser.title }} <br/>
 {{ loggedInUser.username }} <br/>
 </p>

<!-- <p>{{ findOneUser().firstName }}</p> -->
<!--
    <h3 class="text-center" *ngIf="!selected">Create Account</h3>
    <div class="col-md-4"></div>
  <form role="form" *ngIf="!selected">
      <label class="mr-sm-2" for="username">Username:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="username" name="username" [(ngModel)]="user.username"/>

      <label class="mr-sm-2" for="password">Password:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="password" name="password" [(ngModel)]="user.password"/>

      <label class="mr-sm-2" for="firstName">First Name:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="firstName" name="firstName" [(ngModel)]="user.firstName"/>

      <label class="mr-sm-2" for="lastName">Last Name:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="lastName" name="lastName" [(ngModel)]="user.lastName"/>

      <label class="mr-sm-2" for="email">Email:</label>
          <input type="text" class="form-control mb-2 mr-sm-2" id="email" name="email" [(ngModel)]="user.email"/>

      <label class="mr-sm-2" for="title">Title:</label>
          <input type="text" class="form-control mb-2 mr-sm-6" id="title" name="title" [(ngModel)]="user.title"/>
        <br>
      <button type="submit" class="btn btn-success col-sm-12 text-align:center;" value="Create Account" (click)="createUser()">Create Account</button>
      <br>
      <br>
    </form> -->
