<br/>
<br/>
<div style="text-align: center">
 <h6>Welcome to the Administrator Portal. Please review all reports carefully and dilligently before making a decision. </h6> <br/>
</div>
<br/>

    <div style="text-align: center; color: rgb(43, 74, 148); font-weight: bold">
    | <span *ngFor="let type of types" (click)="selectedType = type">
      {{ type }} |
    </span>
  </div>
  <br/>

    <h5 class="expense" *ngIf="expenses">Expense Reports (Click to Show Details)</h5>
 <table class="table table-striped" *ngIf="!selected && expenses">
    <tr>
      <th>Report ID</th>
      <th>Date Submitted</th>
      <th>Description</th>
      <th>Status</th>
      <th>Submitted By</th>
    </tr>
    <tr *ngFor="let expense of expenses | ReportStatus:selectedType">
      <td (click)="displayExpense(expense)">{{ expense.id }}</td>
      <td (click)="displayExpense(expense)">{{ expense.createdAt | date: 'short' }}</td>
      <td (click)="displayExpense(expense)">{{ expense.description }}</td>
      <td (click)="displayExpense(expense)">{{ expense.status }}</td>
      <td (click)="displayExpense(expense)">{{ expense.user.firstName + ' ' + expense.user.lastName }}</td>
    </tr>
  </table>

   <table class="table table-striped" *ngIf="selected">
      <tr>
        <th>Report ID</th>
        <th>Date Submitted</th>
        <th>Description</th>
        <th>Status</th>
        <th>Change Status</th>
        <th>Attendees</th>
        <th>Amount</th>
        <th>GL Account</th>
        <th>Submitted By</th>
        <th *ngIf="selected.createdAt != selected.updatedAt">Date Updated</th>
        <th><button type="button" class="btn btn-success btn-sm" value="Return to List" (click)="displayExpenseTable()" *ngIf="selected">Return to List</button></th>
      </tr>
        <tr>
            <td>{{ selected.id }}</td>
            <td>{{ selected.createdAt | date: 'short' }}</td>
            <td>{{ selected.description }}</td>
            <td>{{ selected.status }}</td>
            <td><select [(ngModel)]="selected.status">
                <option value="Under Review">Under Review</option>
                <option value="Rejected">Rejected</option>
                <option value="Approved">Approved</option>
              </select> <br/> <br/>
              <button type="button" class="btn btn-info btn-sm" value="Return to List" (click)="updateExpenseReport(selected, selected.id)" *ngIf="selected">Change Status</button>
            </td>
            <td>{{ selected.attendees }}</td>
            <td>{{ selected.amount | currency}}</td>
            <td>{{ selected.glAccount }}</td>
            <td>{{ selected.user.firstName + ' ' + selected.user.lastName }}</td>
            <td *ngIf="selected.createdAt !== selected.updatedAt">{{ selected.updatedAt  | date: 'short' }}</td>
            <td>
              <button type="button" class="btn btn-warning btn-sm" value="Return to List" (click)="setAddExpenseComments()" *ngIf="selected">Add Comments</button> <br/> <br/>
              <button type="button" class="btn btn-warning btn-sm" value="Return to List" (click)="setViewExpenseComments()" *ngIf="selected">View Comments</button>
            </td>
        </table>

        <div class="d-flex justify-content-center align-items-center container">
            <div class="row">
              <div class="col-lg-12 col-md-12">
                  <form #adminComments="ngForm" role="form" *ngIf="addExpenseComments">
                    <label class="" for="adminComments">Administrative Comments:</label>
                      <textarea rows="4" cols="50" required minlength="5" class="form-control mb-2 mr-sm-2" id="adminComments" name="adminComments"
                      #adminComments="ngModel" [(ngModel)]="addExpenseComments.adminComments" placeholder="Comments:"></textarea>
                      <div class="text-center">
                      <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="addExpenseComments = null">Cancel</button> &nbsp;
                      <button type="submit" class="btn btn-success btn-sm" value="Update" (click)="updateExpenseReport(addExpenseComments, addExpenseComments.id)">Submit</button>
                      </div>
                    </form>
                    </div>
                    </div>
                    </div>

                    <br/>

                    <div class="d-flex justify-content-center align-items-center container">
                        <div class="row">
                          <div class="col-lg-12 col-md-12">
                              <div class="card" style="width: 25rem;" *ngIf="viewExpenseComments">
                                  <div class="card-body">
                                      <h5 class="card-title">User Comment</h5>
                                      <h6 class="card-title">From: {{ viewExpenseComments.user.firstName + ' ' + viewExpenseComments.user.lastName }}</h6>
                                      <h6 class="card-subtitle mb-2 text-muted">{{ viewExpenseComments.updatedAt | date: 'shortDate' }}</h6>
                                      <p class="card-text">{{ viewExpenseComments.userComments }}</p>
                                      <p class="card-text" *ngIf="viewExpenseComments.userComments === null || viewExpenseComments.userComments === '' || viewExpenseComments.userComments === ' '">
                                        There is no user comment at this time.</p>
                                  </div>
                              <div class="card-body">
                                <h5 class="card-title">Administrative Comment</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{ viewExpenseComments.updatedAt | date: 'short' }}</h6>
                                <p class="card-text">{{ viewExpenseComments.adminComments }}</p>
                                <p class="card-text" *ngIf="viewExpenseComments.adminComments === null || viewExpenseComments.adminComments === '' || viewExpenseComments.adminComments === ' '">
                                  You have not created a comment for this report.</p>
                              </div>
                                  <div class="text-center">
                                  <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="viewExpenseComments = null">Hide Comments</button> <br/> <br/>
                                  </div>
                                </div>
                            </div>
                          </div>
                        </div>
                          <br/>
                          <br/>
        <br/>

        <div style="text-align: center; color: rgb(43, 74, 148); font-weight: bold">
            | <span *ngFor="let type of types" (click)="selectedTravelType = type">
              {{ type }} |
            </span>
          </div>
          <br/>

        <h5 class="travel">Travel Reports (Click to Show Details)</h5>
        <table class="table table-striped" *ngIf="!clicked">
            <tr>
              <th>Report ID</th>
              <th>Date Submitted</th>
              <th>Trip Location</th>
              <th>Status</th>
              <th>Submitted By</th>
            </tr>
            <tr *ngFor="let travel of travelReports | ReportStatus:selectedTravelType">
              <td (click)="displayTravelReport(travel)">{{ travel.id }}</td>
              <td (click)="displayTravelReport(travel)">{{ travel.createdAt | date: 'short' }}</td>
              <td (click)="displayTravelReport(travel)">{{ travel.tripLocation }}</td>
              <td (click)="displayTravelReport(travel)">{{ travel.status }}</td>
              <td (click)="displayTravelReport(travel)">{{ travel.user.firstName + ' ' + travel.user.lastName }}</td>
            </tr>
          </table>

          <table class="table table-striped" *ngIf="clicked">
              <tr>
                <th>Report ID</th>
                <th>Date Submitted</th>
                <th>Trip Location</th>
                <th>Status</th>
                <th>Change Status</th>
                <th>Travel Dates</th>
                <th>Project Charge Code</th>
                <th>Total Cost</th>
                <th>Submitted By</th>
                <th *ngIf="clicked.createdAt !== clicked.updatedAt">Date Updated</th>
                <th><button type="button" class="btn btn-success btn-sm" value="Return to List" (click)="displayTravelTable()" *ngIf="clicked">Return to List</button></th>
              </tr>
                <tr>
                    <td>{{ clicked.id }}</td>
                    <td>{{ clicked.createdAt | date: 'short' }}</td>
                    <td>{{ clicked.tripLocation }}</td>
                    <td>{{ clicked.status }}</td>
                    <td>
                      <select [(ngModel)]="clicked.status">
                        <option value="Under Review">Under Review</option>
                        <option value="Rejected">Rejected</option>
                        <option value="Approved">Approved</option>
                      </select> <br/> <br/>
                      <button type="button" class="btn btn-info btn-sm" value="Return to List" (click)="updateTravelReport(clicked, clicked.id)" *ngIf="clicked">Change Status</button>
                    </td>
                    <td>{{ clicked.travelDates }}</td>
                    <td>{{ clicked.projectChargeCode }}</td>
                    <td>{{ clicked.totalCost | currency }}</td>
                    <td>{{ clicked.user.firstName + ' ' + clicked.user.lastName }}</td>
                    <td *ngIf="clicked.createdAt !== clicked.updatedAt">{{ clicked.updatedAt | date: 'short' }}</td>
                    <td>
                      <button type="button" class="btn btn-warning btn-sm" value="Return to List" (click)="setAddTravelComments()" *ngIf="clicked">Add Comments</button> <br/> <br/>
                      <button type="button" class="btn btn-warning btn-sm" value="Return to List" (click)="setViewTravelComments()" *ngIf="clicked">View Comments</button>
                    </td>
                  </tr>
                </table>

                <div class="d-flex justify-content-center align-items-center container">
                    <div class="row">
                      <div class="col-lg-12 col-md-12">
                          <form #adminComments="ngForm" role="form" *ngIf="addTravelComments">
                            <label class="" for="adminComments">Administrative Comments:</label>
                              <textarea rows="4" cols="50" required minlength="5" class="form-control mb-2 mr-sm-2" id="adminComments" name="adminComments"
                              #adminComments="ngModel" [(ngModel)]="addTravelComments.adminComments" placeholder="Comments:"></textarea>
                              <div class="text-center">
                              <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="addTravelComments = null">Cancel</button> &nbsp;
                              <button type="submit" class="btn btn-success btn-sm" value="Update" (click)="updateTravelReport(addTravelComments, addTravelComments.id)">Submit</button>
                              </div>
                            </form>
                            </div>
                            </div>
                            </div>
                            <br/>


                            <div class="d-flex justify-content-center align-items-center container">
                            <div class="row">
                              <div class="col-lg-12 col-md-12">
                                  <div class="card" style="width: 25rem;" *ngIf="viewTravelComments">
                                      <div class="card-body">
                                          <h5 class="card-title">User Comment</h5>
                                          <h6 class="card-title">From: {{ viewTravelComments.user.firstName + ' ' + viewTravelComments.user.lastName }}</h6>
                                          <h6 class="card-subtitle mb-2 text-muted">{{ viewTravelComments.updatedAt | date: 'shortDate' }}</h6>
                                          <p class="card-text">{{ viewTravelComments.userComments }}</p>
                                          <p class="card-text" *ngIf="viewTravelComments.userComments === null || viewTravelComments.userComments === '' || viewTravelComments.userComments === ' '">
                                            There is no user comment at this time.</p>
                                        </div>
                                        <div class="card-body">
                                          <h5 class="card-title">Administrative Comment</h5>
                                          <h6 class="card-subtitle mb-2 text-muted">{{ viewTravelComments.updatedAt | date: 'short' }}</h6>
                                          <p class="card-text">{{ viewTravelComments.adminComments }}</p>
                                          <p class="card-text" *ngIf="viewTravelComments.adminComments === null || viewTravelComments.adminComments === '' || viewTravelComments.adminComments === ' '">
                                          You have not created a comment for this report.</p>
                                  </div>
                                      <div class="text-center">
                                      <button type="submit" class="btn btn-warning btn-sm" value="Cancel" (click)="viewTravelComments = null">Hide Comments</button> <br/> <br/>
                                      </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                              <br/>
                              <br/>
                              <section class="footer">
                                  <img class="Northstrat" width="100%" height="600rem" src="http://www.northstrat.net/northstrat/wp-content/uploads/2018/09/earth-1149733-e1536335141161.jpg">
                                </section>

                                <!-- Footer -->
<footer class="page-footer font-small teal pt-4">

    <!-- Footer Text -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Overhead Expense Reports</h5>
          <p>Please review all overhead expense reports carefully to ensure accurate, detailed information is present. This will assist Northstrat's accounting department in processing expense reports quickly and efficiently,
            allowing our employees to receive their funds in a timely manner. </p>
        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-6 mb-md-0 mb-3">

          <!-- Content -->
          <h5 class="text-uppercase font-weight-bold">Overhead Travel Reports</h5>
          <p>Please review all overhead travel reports carefully to ensure accurate, detailed information is present. This will assist Northstrat's accounting department in processing travel reports quickly and efficiently,
              allowing our employees to receive their funds in a timely manner. </p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Text -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a href="http://www.northstrat.net/northstrat/" target="_blank"> Northstrat.net</a>
    </div>
    <!-- Copyright -->

  </footer>
